<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Match index.php?.*" stopProcessing="true">
                    <match url="^index.php\?(.*)$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/index.php?{R:1}" appendQueryString="false" />
                </rule>
                <rule name="Match ?(.*)" stopProcessing="true">
                    <match url="^\?(.*)$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/index.php?{R:1}" appendQueryString="false" />
                </rule>
                <rule name="Match ##?..." stopProcessing="true">
                    <match url="^(\d+)\?(.+)$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/index.php?id={R:1}&amp;{R:2}" appendQueryString="false" />
                </rule>
                <rule name="Match ##" stopProcessing="true">
                    <match url="^(\d+)$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/index.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Match .*?.*" stopProcessing="true">
                    <match url="^(.*)\?(.+)$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/index.php?q={R:1}&amp;{R:2}" appendQueryString="false" />
                </rule>
                <rule name="Match .*" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/index.php?q={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
