<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to http://keymankeyboards.com/?id=441" stopProcessing="true">
                  <action type="Redirect" url="http://keymankeyboards.com/?id=441" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
