<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to http://keymankeyboards.com/?id=430" stopProcessing="true">
                    <conditions logicalGrouping="MatchAll">
                      <add input="{REQUEST_FILENAME}" matchType="Pattern" pattern="kmhmu" negate="true" />
                    </conditions>
                  <action type="Redirect" url="http://keymankeyboards.com/?id=430" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
